# Ignore build artifacts
dist/
build/
*.egg-info

# Ignore macOS specific files
.DS_Store/

# Ignore specific directories
.gitignore/

# Ignore files in fusion_utils directory
fusion_utils/.DS_Store

